# ignore the MAC files:
*.DS_Store

# ignore the ECLIPSE project file:
.project
.pydevproject
.settings

# ignore compilation products:
*.mod
*.o
*.a
*.pyc

# ignore the profiler file:
gmon.out

# ignore the executables:
eftbenchmark
eftprofile